ion-content.background{
    --ion-background-color:#1c1d25;
}
h2{
    display: flex;
    justify-content: center;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-style: normal;
    text-decoration: dotted;
}
p{
    display: flex;
    justify-content: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: normal;
}
.boss{
    display: flex;
    justify-content: center;
}

.button{
    
    margin-top: 20px;
    padding: 5px 10px;
    border: none;
    outline: none;
    background-color: rgb(180, 220, 255);
    font-family: "Montserrat";
    font-size: 18px;
    cursor: pointer;
    
}