<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="hero" >
      Welcome
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding class="background" [fullscreen]="true">
      <h2>Welcome to your National Veterinary Clinic!</h2>
      <p>To check all record click on View 👁️ button</p>
      <p>To add new pet record on database click on Add ➕ button</p>
      <p>To Edit the database record click on button</p>
      <p>Inside Edit tab click on search 🔎  for searching</p>
      <p>Inside Edit tab click on delete 🗑️ for deleting</p>
      <br>
      <p>Created by Bhuwan Aryal</p>
</ion-content>
